.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.link {
  color: red;
}

#dropdown-item:hover {
  background: #fff2e7;
  color: #ff9138;
}

#a1 {
  color: #7e7d88;
  text-decoration: none;
  display: flex;
}

#a1:hover {
  background-color: #fff2e7;
  color: #ff9138;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}

#a1:hover .item {
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  display: block;
}

#nav-link-left:hover {
  background: #fff2e7;
  color: #ff9138;
}
