.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.link {
  color: red;
}

.noti {
  display: flex;
  position: absolute;
  width: 32px;
  height: 32px;
  right: 260px;
  top: 28px;
  background: #fff2e7;
  border-radius: 32px;
  color: #ffac6a;
  cursor: pointer;
}

.noti:active {
  display: flex;
  position: absolute;
  width: 32px;
  height: 32px;
  right: 260px;
  top: 28px;
  background: #ff7506;
  border-radius: 32px;
  color: #fff;
}

.option {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
  width: 200px;
  height: 48px;
  margin-bottom: 6px;
  text-align: left;
  display: flex;
}
.option .nlink-left-dashboard {
  text-decoration: none;
  width: 200px;
  height: 48px;
  display: flex;
  color: #9a9aa2;
}

.option .nlink-left-dashboard:hover {
  background: #fff2e7;
  color: #ff8422;
}

.option:last-child {
  width: 200px;
  height: 48px;
  float: left;
  overflow: hidden;
}

.option .nlink-left-dashboard:hover .dropdown {
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  display: block;
}

.option:last-child .nlink-left-dashboard {
  width: 200px;
  height: 48px;
  float: left;
  overflow: hidden;
}

.dropdown {
  margin-left: 200px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown a {
  color: #7e7d88;
  text-decoration: none;
  display: flex;
}

.dropdown a:hover {
  background-color: #fff2e7;
  color: #ff9138;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}

.logout a {
  color: #ff9138;
  margin: auto;
  width: 76px;
  height: 24px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
  text-decoration: none;
}

.logout .icon {
  flex: 1;
  margin: auto;
}

/* Dashboard - navright*/

.CircularProgressbar .CircularProgressbar-text {
  fill: #282c34 !important;
  font-weight: 700;
}

.db-content1 .number {
  position: absolute;
  top: -30px;
  left: 3px;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 36px;
  color: #535261;
}

.db-content1 .name {
  position: absolute;
  width: 49px;
  height: 21px;
  left: 25px;
  top: 15px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}

.db-content1 .device {
  color: #ffcea7;
}

.db-content1 .service {
  color: #7fa2ff;
}

.db-content1 .numberof {
  color: #61d37e;
}

.db-content1 .db-icon-navright {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 26.5px;
  display: flex;
}

.db-content1 .db-icon-navright .icon-navR {
  margin: auto;
  /* color: #ff7506; */
}

.db-content1 .db-icon-navright .ic_com {
  color: #ffcea7;
}
.db-content1 .db-icon-navright .ic_dv {
  color: #7fa2ff;
}
.db-content1 .db-icon-navright .ic_number {
  color: #61d37e;
}

.status-start {
  position: absolute;
  width: 87px;
  height: 21px;
  left: 0px;
  top: 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: #7e7d88;
}

.status-start-estimate {
  position: absolute;
  width: 38px;
  height: 18px;
  left: 99px;
  top: 1px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #ff7506;
}

.status-stop {
  position: absolute;
  width: 125px;
  height: 21px;
  left: 0px;
  top: 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: #7e7d88;
}

.status-estimate-stop {
  position: absolute;
  width: 38px;
  height: 18px;
  left: 99px;
  top: 1px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #ff7506;
}

.status-skip {
  position: absolute;
  width: 87px;
  height: 21px;
  left: 0px;
  top: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: #7e7d88;
}

.status-estimate-skip {
  position: absolute;
  width: 38px;
  height: 18px;
  left: 99px;
  top: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

/* Calendar - db */

.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  /* border: 1px solid #a0a096; */
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #ff7506;
}
.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #ff9138;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--now {
  background: #ffff76;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: #ff7506;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #ff7506;
  border-radius: 8px;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

/* /////////////////////////////////////////// */

/* Dashboard - Estimate */
.db-nl-title {
  text-decoration: none;
}

.db-nl-title .db-title-icon {
  margin: auto;
}

.calendar-success {
  color: #35c75a;
}

.phone-contact {
  color: #ffac6a;
}

.book {
  color: #f86d6d;
}

.db-tt-icon {
  width: 10px;
  height: 10px;
  margin: auto;
}

.db-fAdd {
  text-decoration: none;
}

.db-fAdd:hover {
  cursor: pointer;
}

/* /////////////////////////////////////////// */
